<footer>
  <div class="copyright">
    {{ config.extra.footer_copyright | trim | markdown | safe }}
  </div>
  {% if config.extra.footer_credits %}
  <div class="credits">
    powered by
    <a href="https://www.getzola.org" target="_blank" rel='noreferrer noopener'>zola</a>
    and
    <a href="https://github.com/isunjn/serene" target="_blank" rel='noreferrer noopener'>serene</a>
  </div>
  {% endif %}
  {% for link in config.extra.links %}
    <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'>
      {% set icon_path = "static/icon/" ~ link.icon ~ ".svg" %}
      {% set icon = load_data(path=icon_path) %}
      {{ icon | safe }}
    </a>
  {% endfor %}
</footer>